# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
.nuxt/
